.App {
  width: 80%;
  margin: auto;
  padding: 30px 10px;
}

.App-label {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 4px;
}

.App-input {
  height: 30px;
  flex-grow: 1;
  border-radius: 10px 0 0 10px;
  outline: none;
  border: 1px solid lightgray;
  padding: 0 10px;
  caret-color: #21ba45;
}

.App-input:focus {
  border: 1px solid #21ba45;
}

.App-searchButton {
  height: 32px;
  border-radius: 0 10px 10px 0;
  outline: none;
  border: none;
  padding: 0 25px;
  background-color: #21ba45;
  color: white;
  cursor: pointer;
}

.App-inputArea {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.App-pagination {
  display: flex;
  margin: 15px 0;
}

.App-paginationButton {
  height: 32px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 0 25px;
  background-color: white;
  border: 1px solid #21ba45;
  color: #21ba45;
  cursor: pointer;
  margin-right: 10px;
}

.App-paginationButton:hover {
  color: white;
  border: none;
  background-color: #21ba45;
}

.App-paginationButton:disabled {
  background-color: lightgray;
  color: white;
  border: none;
  cursor: not-allowed;
}
