.App {
  width: 80%;
  margin: auto;
}

.App-label {
  font-weight: bold;
}

.App-input {
  height: 30px;
  flex-grow: 1;
  border-radius: 10px 0 0 10px;
  outline: none;
  border: 1px solid lightgray;
  padding: 0 10px;
}

.App-searchButton {
  height: 32px;
  border-radius: 0 10px 10px 0;
  outline: none;
  border: none;
  padding: 0 25px;
  background-color: lightgray;
}

.App-inputArea {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.RepositoryList {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.RepositoryList-item {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 350px;
  margin: 5px;
}

.RepositoryList-itemHeader {
  font-weight: bold;
  font-size: 22px;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.RepositoryList-itemDescription {
  margin: 5px 0;
  padding: 10px;
  color: gray;
}